:root {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}

body {
	color: black;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body::webkit::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

main {
	margin-left: 6rem;
	padding: 1rem;

	transition: margin-left 200ms ease;
}

.navbar {
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 200ms ease;
	margin-top: 20px;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.nav-item {
	width: 100%;
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.vertical-nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-secondary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: 0.6s;
	width: 100%;
}

.vertical-nav-link:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.vertical-nav-link svg {
	min-width: 2rem;
	margin: 0 1.5rem;
}

.vertical-nav-link img {
	min-width: 2rem;
	margin: 0 1.5rem;
	fill: #ff7eee;
}

.navbar:hover {
	width: 16rem;
}
.navbar:hover ~ main {
	margin-left: 16rem;
}

.navbar:hover .link-text {
	display: block;
}

a,
a::after,
a::before {
	text-decoration: none;
	color: black;
}

.fa-primary {
	color: #ff7eee;
}

.fa-secondary {
	color: #df49a6;
}

.fa-primary,
.fa-secondary {
	transition: 0.6;
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 9rem;
	text-align: center;
	color: var(--bg-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.3ch;
	width: 100%;
}
.logo-text {
	display: inline;
	position: absolute;
	left: -999px;
	transition: 0.6s;
}
.logo svg {
	transform: rotate(0deg);
	transition: transform 0.6s;
}

.navbar:hover .logo svg {
	transform: rotate(-360deg);
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 25px 30px;
	grid-template-areas:
		"presentation presentation games games games"
		"stats stats games games games";
}

.presentation {
	grid-area: presentation;
	background-color: white;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	height: 320px;
	font-size: 16px;
	text-align: center;
}

.stats {
	grid-area: stats;
	background-color: white;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	height: 320px;
	text-align: center;
}
.games {
	grid-area: games;
	background-color: white;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	height: 660px;
	text-align: center;
}

.img1 {
	width: 350px;
	height: 200px;
}

.subtitle {
	text-transform: uppercase;
	font-weight: bold;
	color: #6e00ff;
	letter-spacing: 0.2em;
	font-size: 0.85em;
	font-size: 30px;
	font-family: "Poppins", sans-serif;
}

.featured-title {
	color: black;
	font-weight: bold;
	font-size: 1.3em;
	font-size: 26px;
	display: block;
}

#gameList li {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 20px;
	padding-right: 20px;
}

[type="file"] {
	height: 0;
	overflow: hidden;
	width: 0;
}

[type="file"] + label {
	background: #a896e4;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Press Start 2P", cursive;
	font-size: inherit;
	font-weight: 500;
	margin-bottom: 1rem;
	outline: none;
	padding: 1rem 50px;
	position: relative;
	transition: all 0.3s;
	vertical-align: middle;
}
[type="file"] + label:hover {
	background-color: #a896e4;
}
[type="file"] + label.btn-1 {
	background-color: #a896e4;
	box-shadow: 0 6px #846ada;
	transition: none;
}
[type="file"] + label.btn-1:hover {
	box-shadow: 0 4px #846ada;
	top: 2px;
}

.eightbit-btn {
	background: #92cd41;
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 16px;
	padding: 13px;
	font-family: "Press Start 2P", cursive;
	text-decoration: none;
	color: white;
	font-weight: bold;
	box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover,
.eightbit-btn:focus {
	background: #76c442;
	box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn:active {
	box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.eightbit-btn:before,
.eightbit-btn:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
}
.eightbit-btn:before {
	top: -6px;
	left: 0;
	border-top: 6px black solid;
	border-bottom: 6px black solid;
}
.eightbit-btn:after {
	left: -6px;
	top: 0;
	border-left: 6px black solid;
	border-right: 6px black solid;
}
.eightbit-btn--reset {
	background: #e76e55;
	box-shadow: inset -4px -4px 0px 0px #8c2022;
	/* width: 80px;
	height: 40px;*/
	font-size: 20px;
	transform: translateY(-10px);
}
.eightbit-btn--reset:hover,
.eightbit-btn--reset:focus {
	background: #ce372b;
	box-shadow: inset -6px -6px 0px 0px #8c2022;
}
.eightbit-btn--reset:active {
	box-shadow: inset 4px 4px 0px 0px #8c2022;
}
.eightbit-btn--proceed {
	background: #f7d51d;
	box-shadow: inset -4px -4px 0px 0px #e59400;
}
.eightbit-btn--proceed:hover,
.eightbit-btn--proceed:focus {
	background: #f2c409;
	box-shadow: inset -6px -6px 0px 0px #e59400;
}
.eightbit-btn--proceed:active {
	box-shadow: inset 4px 4px 0px 0px #e59400;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}

	.logo {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.vertical-nav-link {
		justify-content: center;
	}

	main {
		margin: 0;
	}
}

/* Large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}

	.navbar:hover {
		width: 16rem;
	}

	.navbar:hover .link-text {
		display: inline;
	}

	.navbar:hover .logo svg {
		margin-left: 11rem;
	}

	.navbar:hover .logo-text {
		left: 0px;
	}
}
